/* You can add global styles to this file, and also import other style files */
// version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

body {
    height: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}